<%= stylesheet_link_tag 'controllers/venues' %>

<% @title = '添加新的地点'%>
<div id='venueNew'>
  <h2>添加新的地点</h2>
  <%= render "form" %>
</div>
<% content_for :sidebar do %>
  <%= render '/venues/what_is_venue'%>
<% end %>
