<%= form_for question do |form| %>
  <p>提问：
  <%= form.text_field :title, :style => "width:480px;" %>
  <%= form.submit '添加问题', :style=>"float:right;" %>
  <%= form.hidden_field :tag_list, :value => actional.tag.name %>
  </p>
<% end %>
